#navigation
  %ul
    %li Home
    %li{ :data => { :value => "about", :type => "pod" } } About
    %li{ :data => { :value => "contact", :type => "pod" } } Contact
    %li{ :data => { :value => "http://www.google.com?q=middleman", :type => "link" } } Google
    %li{ :data => { :value => "#pods-wrapper", :type => "clear" } } Google