$greyBg: #333;
$lightGrey: #E6E6E6;

* {
  margin: 0;
  padding: 0;
}

#navigation {
  background: $greyBg;
  color: $lightGrey;
  width: 100%;

  ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    width: 19.5%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
  }

  li:hover {
    background: $lightGrey;
    color: $greyBg;
  }
}